<div data-controller="irpf">

<%= turbo_frame_tag 'report' do %>

  <%= form_with method: :get do |form| %>

    <%= form.search_field :year, class: 'form-control', value: params[:year] %>

    <%= form.submit "Carregar dados", class: 'btn btn-primary' %>

  <% end %>

  <% if @swing_trade.present? %>
    <div class='table-responsive'>
      <table class='table'>
        <thead>
          <tr>
            <th />
            <th class='text-start' scope='col' colspan="4">
              Operações Comuns
            </th>
            <th class='text-start' scope='col' colspan="4">
              Day Trade
            </th>
            <th class='text-start' scope='col' colspan="4">
              FIIs
            </th>
          </tr>
          <tr>
            <th />
            <th class='text-end' scope='col'>
              Total
            </th>
            <th class='text-end' scope='col'>
              Imposto Pago
            </th>
            <th class='text-end' scope='col'>
              IRRF
            </th>
            <th class='text-end' scope='col'>
              Prejuízo Acumulado
            </th>
            <th class='text-end' scope='col'>
              Total
            </th>
            <th class='text-end' scope='col'>
              Imposto Pago
            </th>
            <th class='text-end' scope='col'>
              IRRF
            </th>
            <th class='text-end' scope='col'>
              Prejuízo Acumulado
            </th>
            <th class='text-end' scope='col'>
              Total
            </th>
            <th class='text-end' scope='col'>
              Imposto Pago
            </th>
            <th class='text-end' scope='col'>
              IRRF
            </th>
            <th class='text-end' scope='col'>
              Prejuízo Acumulado
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th colspan="4" class="text-end">
              Prejuízo acumulado no ano anterior
            </th>
            <td class="text-end">
              <%= @accumulated_loss_last_year['swing_trade'] %>
            </td>
            <td />
            <td />
            <td />
            <th colspan="4" class="text-end">
              Prejuízo acumulado no ano anterior
            </th>
            <td class="text-end">
              <%= @accumulated_loss_last_year['fiis'] %>
            </td>
          </tr>
          <% (1..12).each do |month_number| %>
            <% month = month_number.to_s.rjust(2, '0') %>
            <tr>
              <th>
                <%= turbo_frame_tag target: 'monthly_results' do %>
                  <%= link_to @months[month_number], monthly_results_reports_path(params[:year], month_number) %>
                <% end %>
              </th>
              <td class="text-end" style="background-color: #ADD8E6">
                <%= @swing_trade.find { |i| i['month'] == month }.try(:[], 'value').to_d %>
              </td>
              <td style="background-color: #ADD8E6" />
              <td class="text-end" style="background-color: #ADD8E6">
                <%= @irrf.find { |i| i['month'] == month &&
                                  i['trade_type'] == 'Swing Trade' }.try(:[], 'value') %>
              </td>
              <td class="text-end" style="background-color: #ADD8E6" >
                <%= @swing_trade.find { |i| i['month'] == month }.try(:[], 'accumulated_loss').to_d.round(2) %>
              </td>
              <td class="text-end">
                <%= @day_trade.find { |i| i['month'] == month }.try(:[], 'value').to_d %>
              </td>
              <td />
              <td />
              <td />
              <td class="text-end" style="background-color: #F9E79F">
              <%= @fiis.find { |i| i['month'] == month }.try(:[], 'value').to_d %>
              </td>
              <td style="background-color: #F9E79F" />
              <td class="text-end" style="background-color: #F9E79F">
                <%= @irrf.find { |i| i['month'] == month &&
                                  i['trade_type'] == 'FII' }.try(:[], 'value') %>
              </td>
              <td class="text-end" style="background-color: #F9E79F">
                <%= @fiis.find { |i| i['month'] == month }.try(:[], 'accumulated_loss').to_d.round(2) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= turbo_frame_tag 'monthly_results' do %>

      <% end %>

      <table class='table'>
        <thead>
          <tr>
            <th colspan="3">Posições Ano Anterior</th>
          </tr>
          <tr>
            <th scope='col'>Código</th>
            <th scope='col'>Texto</th>
          </tr>
        </thead>
        <tbody>
          <% @end_year_positions.each do |end_year_position| %>
            <tr>
              <td><%= end_year_position['code'] %></td>
              <td data-action="click->irpf#copiar" data-irpf-target="eyp_text" class='text-start'><%= end_year_position['text'] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
    <% end %>
  <% end %>
  </div>