<!DOCTYPE html>
<html>
  <head>
    <title>Stocks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a href="/irpf">IRPF</a>
      </li>
      <li class="nav-item">
        <a href="/reports/profit-loss">Lucro x Prejuízo</a>
      </li>
      <li class="nav-item">
        <a href="/import_files">Import Files</a>
      </li>
      <li class="nav-item">
        <a href="/new_average_price">Calcula novo preço médio</a>
      </li>
    </ul>

    <%= yield %>
  </body>
</html>
